.user-css,
.user-css-extended,
.user-css-presentation,
.page,
.map-context-user,
.user-css-map {

    /* Main Fonts */
    --hf1: Roboto;
    --hf2: PTSerif;
    --hf3: Metamorphous;
    --hf4: Amarante;
    --dcfont: Amarante;
    --sfont: Caveat;
    --ifont: Merriweather;
    --pfont: Open Sans;

    /* Font Weights and Styles */
    --normal: 400;          /* font-weight */
    --bold: 700;            /* font-weight */
    --black: 900;           /* font-weight */
    --italic: italic;       /* font-style */
    --upper: uppercase;     /* text-transform */
    --lower: lowercase;     /* text-transform */
    --cap: capitalize;      /* text-transform */
    --sc: small-caps;       /* font-variant */

    /* Main Colours */
    --midnight: RGB(14, 12, 22);
    --tarcloud: RGB(30, 28, 34);

    --rust: RGB(149, 96, 50);
    --dryblood: RGB(98, 66, 41);

    --cyan: RGBA(72, 228, 222);

    /* Buttons, Labels and Notifications */
    --primary: RGB(35, 159, 193);       /* blue */
    --secondary: RGB(130, 140, 150);    /* grey */
    --success: RGB(153, 194, 77);       /* green */
    --info: RGB(168, 223, 218);         /* light blue */
    --warning: RGB(251, 181, 57);       /* orange */
    --danger: RGB(244, 82, 56);         /* red */
    --dark: RGB(71, 71, 71);            /* dark grey */
    --light: RGB(229, 229, 229);        /* light grey */

    /* Transparent Colours */
    --w10: RGBA(250, 250, 250, 0.10);
    --w20: RGBA(250, 250, 250, 0.20);
    --w30: RGBA(250, 250, 250, 0.30);
    --w40: RGBA(250, 250, 250, 0.40);
    --w50: RGBA(250, 250, 250, 0.50);
    --w60: RGBA(250, 250, 250, 0.60);
    --w70: RGBA(250, 250, 250, 0.70);
    --w80: RGBA(250, 250, 250, 0.80);

    --b10: RGBA(0, 0, 0, 0.10);
    --b20: RGBA(0, 0, 0, 0.20);
    --b30: RGBA(0, 0, 0, 0.30);
    --b40: RGBA(0, 0, 0, 0.40);
    --b50: RGBA(0, 0, 0, 0.50);
    --b60: RGBA(0, 0, 0, 0.60);
    --b70: RGBA(0, 0, 0, 0.70);
    --b80: RGBA(0, 0, 0, 0.80);

    --cyan25: RGBA(72, 228, 222, 0.25);
    --cyan50: RGBA(72, 228, 222, 0.50);
    --cyan75: RGBA(72, 228, 222, 0.75);

}

.thales-wrapper {
  --TableHeaderBackground: black;
  --TableHeaderFontColor: darkgray;
}

.user-css .aligned-quotes blockquote {
   margin: 0;
}

.user-css .aligned-quotes .aloud {
   padding:15px;
   margin: 0;
}

.user-css .article-title {
   padding-top: 15px;
}

.user-css a,
.user-css-extended a,
.map-context-user-css a,
.user-css-secrets a {
    text-decoration: none;
}

.user-css .breadcrumb-card {
   box-shadow: 0 0 1px 2px var(--dryblood);
   background: transparent;
}

.user-css .random-generator-result {
    background: transparent;
}

.user-css .world-bookcase .booktitle {
    top: 100%;
}

.user-css .discussion-boards-world-link { display: none; }

.user-css div.artist-credits {
    background: var(--midnight);
}

.user-css .article-panel {
    text-align: center
}

.user-css .article-panel .subheading {
    display: none;
}

.user-css .big-font {
    font-size: 2rem;
    line-height: 3rem;
}

.user-css .widget-community {
    display: none;
}

.user-css .book-cover-block.pull-left {
    padding-right: 20px;
}

.user-css .book-cover-block.pull-right {
    padding-left: 20px;
}

.user-css .fixed-height {
    height: 220px;
}


.user-css #world-category-content {
    display: none;
}

.user-css #world-maps, .user-css #world-timelines {
    display: none;
}

@media screen and (min-width: 1200px) {
    .user-css .world-content .followers-counter {
        position: absolute;
        top: 1%;
        right: 1%;
  }

.user-css .world-content .followers-counter .panel-default {
        position: absolute;
        top: 1%;
        right: 1%;
         background: black;
  }
}


.user-css .world-content h4 {
    padding: 0;
    margin: 0;
}

.user-css .category-contents h4 {
    padding-top: 0;
}

.user-css ul.category-list {
    margin-bottom: 5px;
}

.user-css .secret-subdivision[class*=ceaf61a91702] {
    border: dotted red 2px;
    border-radius: 5px;
    padding: 4px;
    background-color: RGBA(139, 0, 0, 0.5);
}

.user-css .bookcover {
    display: inline-block !important;
    margin-left: auto;
    margin-right: auto;
    max-inline-size: 200px;
    max-block-size: 200px;
    background: var(--b80);
    -webkit-box-shadow: 0 0 0 5px var(--b20);
    -moz-box-shadow: 0 0 0 5px var(--b20);
    box-shadow: 0 0 0 5px var(--b20);
    margin-bottom: 70px;
}

.user-css .booktitle {
    position: absolute;
    width: 100%;
    left: 0%;
    top: 0%;
    padding: 6px 10px;
    font-size: 18px;
    text-align: center;
    font-family: var(--hf3);
    background: var(--midnight);
}

.user-css .article-horizontal-navigation h3 {
    display: none;
}

.user-css .world-bookcase {
    height: unset;
}

.user-css .world-bookcase .bookcover .excerpt {
    background: var(--b80);
    box-shadow: 5px 0 40px black;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.user-css .article-horizontal-navigation .glossary-block {
    display: none;
}

.user-css .article-horizontal-navigation hr:nth-child(1) {
    display: none;
}

.user-css .follower-box {
    background-color: var(--b80);
    border-radius: 5px;
}

.user-css.page-followers h2 {
    border-bottom: unset;
}

.user-css .code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    font-family: monospace;
}

.user-css .article-content-right dt {
    color: var(--w60)
}

.user-css .article-content-right dd.phrase-value {
    margin-left: 10px;
}

.user-css .article-content-right  .section-payload {
    margin-left: 10px;
}

.user-css .article-content-right  .section-content {
    margin-left: 10px;
}


.user-css li h5 {
    margin-top: 0;
    padding-top: 0;
}

.user-css .panel-body {
    border-radius: 0;
}

.user-css .panel-default {
    border-color: var(--dryblood);
    border-width: 2px;
    background-color: #00000a90;
}

.user-css div.articletoc[data-component=article_toc] {
    border: unset;
}

.user-css .panel-default h5 {
    padding-top: 0;
}

/* LIST-ORGCHART Formatting */

.user-css .list-orgchart a {
    color: var(--rust);
    font-weight: bold;
    font-size: large;
}

.user-css .list-orgchart ul {
    margin-top: 10px;
}

.user-css .list-orgchart li {
    font-weight: bold;
    padding-left: 10px;
    padding-top: 5px;
    border-left: 1px solid var(--rust);
    border-radius: 15px 5px 0 5px;
    box-shadow: -5px -3px 6px 0 RGB(0, 0, 28);
}


/* HISTORICAL EVENT */

.user-css .heading p.subheading {
    text-align: center;
}

/* FOR TAGS */
.user-css .label-default {
    background-color: var(--b80);
}

.user-css .relation {
  border-top: none;
}

.user-css .relation + .relation {
  border-top: 2px var(--dryblood) dashed;
}

.user-css h5 {
 padding-top: 0;
}

.user-css.htmlIcon.no-background {
     background: none;
     border: black solid 1px;
}

.user-css.htmlIcon.green-pin {
     color: darkgreen;
}

.user-css .spoiler-card {
  background: transparent;
}

.user-css h2 {
   border: none;
}

.user-css.center-article-title .article-title {
   text-align: center;
}

.world-navigation-palette-trigger {
  display: none;
}

.user-css.center-article-title .breadcrumb {
    display: block;
}

.user-css .world-meta-section .world-title {
    padding: 20px;
}

.user-css .world-meta-section h2 {
    margin: 10px 0 5px 0;
}

.user-css .world-meta-section h3 {
    display: none;
}

.user-css h2.tagged-articles-list-header {
    margin-top: 10px;
    border-top: 1px var(--dryblood) solid;
}

.user-css.cyoa-article .article-title,
.user-css.cyoa-article .article-horizontal-navigation,
.user-css.cyoa-article .backtoworld,
.user-css.cyoa-article .search-form {
   display: none;
}

.user-css.page-world-homepage .subheading h5,
.user-css.page-followers h5  {
      display: none;
}


.user-css.no-list-style ul {
   padding-left: 10px;
}

.user-css.no-list-style .listitem-hyphenated {
 list-style-type: none;
}

.user-css-presentation .thales-render .thales-ui-feature#thales-search i {
     position: abolut;
     top: .7em;
     left: .7em;
     font-size: 1em;
     color: grey;
}